﻿@model GAP.Site.Entities.Articles

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Articles</h4>
		<hr />
		@{
			if (ViewBag.error_code != null)
			{
			<div class="alert alert-danger">
				<strong>Error @Html.Raw(ViewBag.error_code)!</strong> @Html.Raw(ViewBag.error_msg).
			</div>
			}
		}

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
			</div>
		</div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.total_in_shelf, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.total_in_shelf, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.total_in_shelf, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.total_in_vault, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.total_in_vault, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.total_in_vault, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.store_id, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.store_id, (List<SelectListItem>)ViewData[@"StoresList"], "Seleccione", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.store_id, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div class="modal fade" id="MessageModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">@ViewBag.Title</h4>
			</div>
			<div class="modal-body">
				<p>@Html.Raw(ViewBag.error_code)</p>
				<p>@Html.Raw(ViewBag.error_msg)</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div><input type="button" value="Back to Articles List" onclick="javascript: location.href = '/Articles/Index'" class="btn btn-warning" /></div>

@section Scripts {@Scripts.Render("~/bundles/jqueryval")}