﻿@model GAP.Site.Entities.ArticlesList

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
	public string GetStoreName(int id)
	{
		GAP.Site.Models.ArticlesDataManager data = new GAP.Site.Models.ArticlesDataManager();
		return data.GetStores().Stores.Where(r=>r.id == id).Select(s=>s.name).FirstOrDefault();
	}
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
@{
	if (Model == null)
	{
	<br />
	<div class="alert alert-danger">
		<strong>Error @Html.Raw(ViewBag.error_code)!</strong> @Html.Raw(ViewBag.error_msg).
	</div>
	}
}

<h2>Articles Registered</h2>
<div class="row">
	<div class="col-lg-6">
		<table>
			<tr>
				<td><span style="font-weight: bold;">Stores: </span></td>
				<td>@Html.DropDownList("Stores_List", (List<SelectListItem>)ViewBag.Stores_List)</td>
			</tr>
		</table>
	</div>
	<div class="col-lg-6" style="text-align:right">
		@Html.ActionLink("Create New Article", "Create", null, new { @class = "btn btn-default" })
	</div>
</div>
<br />
<table class="table">
	<tr>
		<th>NAME</th>
		<th>DESCRIPTION</th>
		<th>PRICE</th>
		<th>TOTAL IN SHELF</th>
		<th>TOTAL IN VAULT</th>
		<th>STORE</th>
		<th></th>
	</tr>
	@if (Model != null)
	{
		foreach (var elem in Model.Articles)
		{
		<tr>
			<td>@Html.DisplayFor(modelItem => elem.name)</td>
			<td>@Html.DisplayFor(modelItem => elem.description)</td>
			<td>@Html.DisplayFor(modelItem => elem.price)</td>
			<td>@Html.DisplayFor(modelItem => elem.total_in_shelf)</td>
			<td>@Html.DisplayFor(modelItem => elem.total_in_vault)</td>
			<td>@GetStoreName(elem.store_id)</td>
			<td style="width: 110px !important;">
				@Html.ActionLink(" ", "Edit", new { id = elem.id }, new { @class = "btn btn-success fa fa-edit fa-lg", @id = "Edit" })
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletetModal" onclick="javascript:setId(@elem.id)" id="@elem.id"><i class="fa fa-trash-o fa-lg"></i></button>
			</td>
		</tr>
		}
		<tr>
			<td colspan="7"><span style="font-weight:bold;">Total Records: </span>@Html.DisplayFor(modelItem => Model.total_elements)</td>
		</tr>
	}
</table>

<div id="deletetModal" class="modal fade" data-backdrop="static" style="position: fixed;top: 30% !important;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<input type="hidden" id="Id" />
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				¿Do you want delete the Article?
			</div>
			<div class="modal-footer">
				<button type="button" id="btnYes" class="btn btn-primary" style="width:100px;">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" style="width:100px;">No</button>
			</div>
		</div>
	</div>
</div>

@section Scripts { @Scripts.Render("~/bundles/jqueryval") }

<script type="text/javascript">
	function setId(Id) { document.getElementById("Id").value = Id; }
	$("#Stores_List").addClass("form-control");
	var index = window.location.pathname.split('/')[3];
	var itemSelected = $('#Stores_List').find('option[value=' + (index == "" ? 0 : index) + ']').index();
	$('#Stores_List option').eq(itemSelected).prop('selected', true);

	$(function () {

		$("#Stores_List").change(function () {
			var IdSelected = $('#Stores_List option:selected').val();
			if (IdSelected == 0)
				window.location.href = 'http://localhost:27833/Articles/Index/';
			else
				window.location.href = 'http://localhost:27833/Articles/Index/' + IdSelected;
		});
		$('#btnYes').click(function () {
			$.ajax({
				url: '/Articles/Delete/' + $("#Id").val(),
				type: 'POST',
				async: true,
				data: '{"Id":"' + $("#Id").val() + '"}',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function (data) { location.href = '/Articles/Index/' }
			});
			$('#deletetModal').modal('hide');
		})
	});
</script>
