﻿@model GAP.Site.Entities.StoresList

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>

@{
	if (Model == null)
	{
	<br />
	<div class="alert alert-danger">
		<strong>Error @Html.Raw(ViewBag.error_code)!</strong> @Html.Raw(ViewBag.error_msg).
	</div>
	}
}

<h2>Stores Registered</h2>

<p>
	@Html.ActionLink("Create New Store", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
	<tr>
		<th>NAME</th>
		<th>ADDRESS</th>
		<th></th>
	</tr>
	@if (Model != null)
	{
		foreach (var elem in Model.Stores)
		{
		<tr>
			<td>@Html.DisplayFor(modelItem => elem.name)</td>
			<td>@Html.DisplayFor(modelItem => elem.address)</td>
			<td style="width: 110px !important;">
				@Html.ActionLink(" ", "Edit", new { id = elem.id }, new { @class = "btn btn-success fa fa-edit fa-lg", @id = "Edit" })
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletetModal" onclick="javascript:setId(@elem.id)" id="@elem.id"><i class="fa fa-trash-o fa-lg"></i></button>
			</td>
		</tr>
		}
		<tr>
			<td colspan="3"><span style="font-weight:bold;">Total Records: </span>@Html.DisplayFor(modelItem => Model.total_elements)</td>
		</tr>
	}
</table>

<div id="deletetModal" class="modal fade" data-backdrop="static" style="position: fixed;top: 30% !important;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<input type="hidden" id="Id" />
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				¿Do you want delete the store?
			</div>
			<div class="modal-footer">
				<button type="button" id="btnYes" class="btn btn-primary" style="width:100px;">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" style="width:100px;">No</button>
			</div>
		</div>
	</div>
</div>

@section Scripts { @Scripts.Render("~/bundles/jqueryval") }

<script type="text/javascript">
	function setId(Id) { document.getElementById("Id").value = Id; }
	$(function () {
		$('#btnYes').click(function () {
			$.ajax({
				url: 'Stores/Delete/' + $("#Id").val(),
				type: 'POST',
				async: true,
				data: '{"Id":"' + $("#Id").val() + '"}',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function (data) { location.href = '/Stores/Index/' }
			});
			$('#deletetModal').modal('hide');
		})
	});
</script>
