﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/footer-distributed-with-address-and-phones.css" rel="stylesheet" />
	<link href="~/Content/font-awesome.css" rel="stylesheet" />
	<style type="text/css">
		body {
			padding-top: 0px;
			padding-bottom: 0px !important;
		}
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top" style="background-image: linear-gradient(#04519b, #044687 60%, #033769);">
		
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><p><img src="~/Images/Store.png" alt="" width="60" height="40" /></p></li>
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Stores", "Index", "Stores")</li>
					<li>@Html.ActionLink("Articles", "Index", "Articles")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>
	<footer class="navbar-inverse footer-distributed">
		<div class="footer-left">
			<div style="float:left;">
				<p><img src="~/Images/LogoStore.png" alt="" /></p>
			</div>
			<div style="float:left;">
				<p class="footer-links">
					<a href="/">Home</a> ·
					<a href="/Stores/">Stores</a> ·
					<a href="/Articles/">Articles</a>
				</p>
				<p class="footer-company-name">Company Name &copy; 2015</p>
			</div>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>21 Revolution Street</span> Paris, France</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+1 555 123456</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">support@company.com</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About the company</span>
				Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
